@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100vw;
    height: 10vh;
    max-height: 10vh;
    min-height: 50px;
    background-color: #eee;
    overflow: hidden;
    padding-left: 5vw;
    user-select: none;
}
.nav-title>img{
    max-height: 40px;
    height: 40px;
    min-width: 30px;
}
.nav-title>span{
    font-family: 'Noto Sans';
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
}
.form-disp{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.form-container{
    width: 50%;
    height: auto;
    background-color: #eee;
    border-radius: 20px;
    padding: 50px;
}

.test-body{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
}
.test-body form{
    width: 70vw;
    height: 100vh;
    background-color: #fff;
}